// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/orange/';
$image-theme-path-base:  '../../image/'!default;

$orange:                #ec7a5c;
$theme-color           : $orange; 
