// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/red/';
$image-theme-path-base:  '../../image/'!default;

$red:                 #cf1939;
$theme-color           : $red; 

