// banner builder
.banner-wrapper-margin {
    .banner-wrapper {
        margin-bottom: 20px;
    }
}
.image-item-margin {
    .image-item {
        margin-bottom: 20px;
    }
}
.nomargin .box {
    margin-bottom: 0;
}




/*pav-infobox*/
.pav-infobox {
    .t-body {
        padding: 50px!important;
    }
    .description {
        padding: 40px 0;
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }
    .htabs{
        background: #e5e5e5;
        color: #666;
    }
    .t-avatar {
        img {
            background: #dbdbdb;
        }
    }
    .nav > li {
        &.active {
            position: relative;
            &:before {
                position: absolute;
                content: "";
                background: $theme-color;                
                top: 50%;
                @include rtl-left(-15px);
                @include size(30px,2px);
            }
            .t-avatar {
                img {
                    background: #fff;
                }
            }
        }
        > a {
            padding: 20px 0;
            color: #666;
            &:hover, &:focus {
                color: #666;
            }
        }
    }
}
/*pavproducts*/
.pavproducts {
    .carousel-controls {
      top: -88px;
    }
    .tab-content {
        padding-top: 0;
    }
}
/*introduce*/
.introduce {
    .media-introduce {
        height: 425px;
    }
    .content-introduce {
        height: 425px;
        position: relative;
        display: table;
    }
    .content {
        position: relative;
        display: table-cell;
        vertical-align: middle;
    }
}